@keyframes expandFromTop {
  0% {
    height: 0; }
  100% {
    height: 5rem; } }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  background-color: #eee;
  font-family: sans-serif;
  position: relative; }

@media (max-width: 1200px) {
  html {
    font-size: 90%; } }

@media (max-width: 1100px) {
  html {
    font-size: 85%; } }

@media (max-width: 1000px) {
  html {
    font-size: 80%; } }

@media (max-width: 900px) {
  html {
    font-size: 75%; } }

.button {
  padding: .7rem 2rem;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none; }
  .button-blue {
    background-color: #5595c1; }
    .button-blue:hover {
      background-color: #28357b; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: white;
  animation-name: expandFromTop;
  animation-duration: .7s;
  animation-timing-function: ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10; }
  .header__logo {
    height: 3.5rem;
    width: auto;
    margin-left: 6rem; }
  .header__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin-right: 6rem; }
    .header__icons-bell {
      height: 2rem;
      width: auto;
      fill: #eee;
      cursor: pointer; }
      .header__icons-bell:hover {
        fill: #999; }
    .header__icons-user {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: #ff9f16;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer; }
  .header__nav-block {
    position: fixed;
    top: 4.5rem;
    right: 6rem;
    height: 0;
    background-color: white;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .header__nav-block-name {
      color: #999;
      padding: .5rem; }
    .header__nav-block hr {
      color: #999; }
    .header__nav-block-item {
      display: inline-block;
      padding: .5rem;
      cursor: pointer; }
      .header__nav-block-item:hover {
        background-color: #eee; }
  .header__icons-checkbox {
    visibility: hidden; }
  .header__icons-checkbox:checked ~ .header__nav-block {
    height: 8rem; }

.grid {
  padding: 6rem;
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 25% 25% 35% 15%;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
  grid-template-areas: "logo js php php" "logo js php php" "logo js php php" "logo js net events" "qa js net events" "qa js net blog" "qa java net blog" "qa java net contacts"; }
  .grid__logo {
    grid-area: logo;
    background-color: #eee;
    position: relative;
    perspective: 170rem; }
    .grid__logo__side {
      display: flex;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all .8s ease;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      background-color: white; }
    .grid__logo__side-back {
      transform: rotateY(-180deg); }
    .grid__logo:hover .grid__logo__side-back {
      transform: rotateY(0); }
    .grid__logo:hover .grid__logo__side-front {
      transform: rotateY(180deg); }
  .grid__qa {
    grid-area: qa;
    background-color: #eee;
    position: relative;
    perspective: 170rem; }
    .grid__qa__side {
      display: flex;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all .8s ease;
      overflow: hidden; }
    .grid__qa__side-back {
      transform: rotateY(180deg);
      background-color: white;
      font-size: 1.2rem;
      font-weight: 600; }
    .grid__qa__side-front {
      background-color: #50d044;
      align-items: center;
      justify-content: center;
      font-size: 3.5rem;
      font-weight: 700;
      color: white; }
    .grid__qa:hover .grid__qa__side-back {
      transform: rotateY(0); }
    .grid__qa:hover .grid__qa__side-front {
      transform: rotateY(-180deg); }
  .grid__js {
    grid-area: js;
    background-color: #eee;
    position: relative;
    perspective: 170rem; }
    .grid__js__side {
      display: flex;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: all .8s ease;
      overflow: hidden; }
    .grid__js__side-back {
      transform: rotateY(-180deg);
      background-color: white;
      font-size: 1.2rem;
      font-weight: 600; }
    .grid__js__side-front {
      background-color: #ffaf3d;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 3.5rem;
      font-weight: 700; }
    .grid__js:hover .grid__js__side-back {
      transform: rotateY(0); }
    .grid__js:hover .grid__js__side-front {
      transform: rotateY(180deg); }
  .grid__java {
    grid-area: java;
    position: relative;
    background-color: white; }
    .grid__java__side-front {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      overflow: hidden;
      bottom: 0;
      background-color: #ca3232;
      font-size: 2.5rem;
      color: white; }
    .grid__java__side-back {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600; }
    .grid__java:hover .grid__java__side-front {
      height: 0; }
  .grid__php {
    grid-area: php;
    position: relative;
    background-color: white; }
    .grid__php__side-front {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      overflow: hidden;
      right: 0;
      top: 0;
      background-color: #986cc5;
      font-size: 3.5rem; }
    .grid__php__side-back {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600; }
    .grid__php:hover .grid__php__side-front {
      width: 0;
      height: 0; }
  .grid__net {
    grid-area: net;
    position: relative;
    background-color: white; }
    .grid__net__side-front {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      overflow: hidden;
      right: 0;
      bottom: 0;
      background-color: #633666;
      font-size: 3.5rem;
      color: white; }
    .grid__net__side-back {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600; }
    .grid__net:hover .grid__net__side-front {
      width: 0;
      height: 0; }
  .grid__events {
    grid-area: events;
    position: relative;
    background-color: white; }
    .grid__events__side-front {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      overflow: hidden;
      right: 0;
      background-color: #77def1;
      font-size: 1.2rem;
      color: white; }
    .grid__events__side-back {
      overflow-y: scroll;
      width: 100%;
      height: 100%; }
    .grid__events:hover .grid__events__side-front {
      width: 0; }
  .grid__blog {
    grid-area: blog;
    position: relative;
    background-color: white; }
    .grid__blog__side-front {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      overflow: hidden;
      right: 0;
      background-color: #5595c1;
      font-size: 1.2rem;
      color: white; }
    .grid__blog:hover .grid__blog__side-front {
      width: 0; }
  .grid__contacts {
    grid-area: contacts;
    position: relative;
    background-color: #eee; }
    .grid__contacts__side-front {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      overflow: hidden;
      right: 0;
      background-color: #28357b;
      font-size: 1.2rem;
      color: white; }
    .grid__contacts__side-back {
      display: flex;
      justify-content: center; }
      .grid__contacts__side-back .icon {
        width: 2rem;
        height: auto;
        margin-left: .5rem;
        cursor: pointer;
        margin-top: 1rem;
        transition: all .2s ease; }
        .grid__contacts__side-back .icon:hover {
          fill: #77def1; }
    .grid__contacts:hover .grid__contacts__side-front {
      width: 0; }

.grid-text {
  display: inline-block;
  padding: 1rem; }

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 45% 5% 30% 20%;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    grid-template-areas: "logo js js events" "logo js js events" "logo js js blog" "logo js js blog" "logo js js contacts" "java java php php" "java java php php" "qa qa net net" "qa qa net net"; } }

.footer {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem; }

.alerts {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 5;
  display: flex;
  flex-direction: column; }
  .alerts .alert__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem; }
    .alerts .alert__body.error {
      background-color: rgba(202, 50, 50, 0.9); }
    .alerts .alert__body.success {
      background-color: rgba(80, 208, 68, 0.9); }
    .alerts .alert__body.warning {
      background-color: rgba(255, 175, 61, 0.9); }
  .alerts .alert__icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem; }
    .alerts .alert__icon.error-icon {
      color: #ca3232; }
    .alerts .alert__icon.success-icon {
      color: #50d044; }
    .alerts .alert__icon.warning-icon {
      color: #ffaf3d; }
  .alerts .alert__text {
    display: flex;
    flex-direction: column;
    color: white; }
