@mixin rotatingCardSide {
  display: flex;        
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;     
  backface-visibility: hidden;        
  transition: all .8s ease;
  overflow: hidden; 
}

@mixin  staticCardSide {
  position: absolute;  
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out; 
  display: flex;
  align-items: center;
  justify-content: center; 
  font-weight: 700;
  overflow: hidden;
}
