$color-yellow-dark:#ff9f16;
$color-yellow-medium:#ffaf3d;
$color-red:#ca3232;
$color-green:#50d044;
$color-purple-light:#986cc5;
$color-purple-dark:#633666;
$color-blue-dark:#28357b;
$color-blue-medium:#5595c1;
$color-blue-light:#77def1;
$color-grey-light:	#eee;
$color-grey-dark: #999;

$grid-row:4rem;

$font-size-medium:1.2rem;
$font-size-large:2.5rem;
$font-size-huge:3.5rem;