.alerts {
 position: absolute;
 right: 0;
 bottom: 0; 
 padding: 1rem;
 z-index: 5;
 display: flex;
 flex-direction: column;

 .alert__body {
   display: flex;
   align-items: center;
   justify-content: center;  
   padding: 2rem;
   border-radius: 5px;
   margin-bottom: 1rem;
   &.error {
    background-color: rgba($color-red, .9);
   }
   &.success {
    background-color: rgba($color-green, .9);  
   }  
   &.warning {
    background-color: rgba($color-yellow-medium, .9);  
   }
 }
 .alert__icon {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1rem;

   &.error-icon {
     color: $color-red;
   }
   &.success-icon {
    color: $color-green;
   }
   &.warning-icon {
    color: $color-yellow-medium;
   }
 }
 .alert__text {
   display: flex;
   flex-direction: column;
   color: white;
 }
}