.button {  
  padding: .7rem 2rem;
  font-size: $font-size-medium;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;

  &-blue {
    background-color: $color-blue-medium;

    &:hover {
      background-color: $color-blue-dark; 
    }
  }
}