*{
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light;
  font-family: sans-serif;
  position: relative;  
}

@media (max-width:1200px) {
  html {
    font-size: 90%;
  }
}
@media (max-width:1100px) {
  html {
    font-size: 85%;
  }
}
@media (max-width:1000px) {
  html {
    font-size: 80%;
  }
}
@media (max-width:900px) {
  html {
    font-size: 75%;
  }
}