.grid {  
  padding: 6rem;
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 25% 25% 35% 15%;
  grid-template-rows: $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row;
  grid-template-areas: 
  "logo js php php"
  "logo js php php"
  "logo js php php"
  "logo js net events"
  "qa js net events"
  "qa js net blog"
  "qa java net blog"
  "qa java net contacts";

  &__logo {
    grid-area: logo;
    background-color:$color-grey-light;
    position: relative;
    perspective: 170rem;

    &__side {
      @include rotatingCardSide;      
      align-items: center;
      justify-content: center;      
      background-color: white;    
    }
    &__side-back {      
      transform: rotateY(-180deg);     
    } 
    &:hover &__side-back {
      transform: rotateY(0);
    }
    &:hover &__side-front {
      transform: rotateY(180deg);
    }
  }
  &__qa {
    grid-area: qa;
    background-color:$color-grey-light;
    position: relative;
    perspective: 170rem;

    &__side {
        @include rotatingCardSide;        
      }
      &__side-back {      
        transform: rotateY(180deg);
        background-color: white;    
        font-size: $font-size-medium;
        font-weight: 600;        
      } 
      &__side-front {
        background-color: $color-green;
        align-items: center;
        justify-content: center;
        font-size: $font-size-huge; 
        font-weight: 700;
        color: white;
      }
      &:hover &__side-back {
        transform: rotateY(0);
      }
      &:hover &__side-front {
        transform: rotateY(-180deg);
      }

  }
  &__js {
    grid-area: js;
    background-color:$color-grey-light;
    position: relative;
    perspective: 170rem;
    
    &__side {
      @include rotatingCardSide;     
    }
    &__side-back {      
      transform: rotateY(-180deg);
      background-color: white;    
      font-size: $font-size-medium;
      font-weight: 600;  
    } 
    &__side-front {
      background-color: $color-yellow-medium;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: $font-size-huge; 
      font-weight: 700;
    }
    &:hover &__side-back {
      transform: rotateY(0);
    }
    &:hover &__side-front {
      transform: rotateY(180deg);
    }
  }
  &__java {
    grid-area: java;
    position: relative;
    background-color: white;

    &__side-front {
        @include staticCardSide;        
        bottom: 0;
        background-color: $color-red;        
        font-size: $font-size-large; 
        color: white;        
      }
      &__side-back {
        padding: 1rem;
        font-size: $font-size-medium;
        font-weight: 600;      
      }   
      
      &:hover &__side-front {       
        height: 0;
      }
  }
  &__php {
    grid-area: php;
    position: relative;
    background-color: white;
    
    &__side-front {
      @include staticCardSide;      
      right: 0;
      top: 0;
      background-color: $color-purple-light;      
      font-size: $font-size-huge;         
    }
    &__side-back {
      padding: 1rem;
      font-size: $font-size-medium;
      font-weight: 600;      
    }   
    
    &:hover &__side-front {
      width: 0;
      height: 0;
    }
  }
  &__net {
    grid-area: net;
    position: relative;
    background-color: white;

    &__side-front {
        @include staticCardSide;      
        right: 0;
        bottom: 0;
        background-color:$color-purple-dark;      
        font-size: $font-size-huge; 
        color: white;        
      }
      &__side-back {
        padding: 1rem;
        font-size: $font-size-medium;
        font-weight: 600;      
      }   
      
      &:hover &__side-front {
        width: 0;
        height: 0;
      }    
  }
  &__events {
    grid-area: events;
    position: relative;
    background-color: white;

    &__side-front {
      @include staticCardSide;
      right: 0;
      background-color: $color-blue-light;
      font-size: $font-size-medium;
      color: white;
    }
    &__side-back {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }

    &:hover &__side-front {
      width: 0;       
    }
  }
  &__blog {
    grid-area: blog;
    position: relative;
    background-color: white;

    &__side-front {
      @include staticCardSide;
      right: 0;
      background-color: $color-blue-medium;
      font-size: $font-size-medium;  
      color: white;               
    }

    &:hover &__side-front {
      width: 0;       
    }
  }
  &__contacts {
    grid-area: contacts;
    position: relative;
    background-color: $color-grey-light;
    &__side-front {
        @include staticCardSide;      
        right: 0;        
        background-color: $color-blue-dark;      
        font-size: $font-size-medium; 
        color: white;                
      }
    &__side-back {
      display: flex;       
      justify-content: center; 
        
      .icon {
        width: 2rem;
        height: auto;
        margin-left: .5rem;
        cursor: pointer;
        margin-top: 1rem;
        transition: all .2s ease;
          
        &:hover {
          fill: $color-blue-light;
        }
      }        
    }      
    &:hover &__side-front {
      width: 0;       
    }
  }  
}

.grid-text {
  display: inline-block;
  padding: 1rem;
}

@media (max-width: 900px) {
  .grid {
  grid-template-columns: 45% 5% 30% 20%;
  grid-template-rows: $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row $grid-row;
  grid-template-areas: 
  "logo js js events"
  "logo js js events"
  "logo js js blog"
  "logo js js blog"
  "logo js js contacts"
  "java java php php"
  "java java php php"
  "qa qa net net"
  "qa qa net net";
  }
}