.header {
  position: fixed;
  top: 0;
  width: 100%;  
  height: 5rem;
  background-color:white;
  animation-name: expandFromTop;
  animation-duration: .7s;
  animation-timing-function: ease-in; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
  z-index: 10; 

  &__logo {
    height: 3.5rem;
    width: auto;
    margin-left: 6rem;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
    margin-right: 6rem;   

    &-bell {
      height: 2rem;
      width: auto;
      fill: $color-grey-light;
      cursor: pointer;    

      &:hover {
        fill: $color-grey-dark;
      }
    }
    
    &-user {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: $color-yellow-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
    }
  }
  &__nav-block {
    position: fixed;
    top: 4.5rem;
    right: 6rem;
    height: 0;    
    background-color: white;
    overflow: hidden;
    font-size: $font-size-medium;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;    

    &-name {
      color: $color-grey-dark;
      padding: .5rem;
    }
    hr {
      color: $color-grey-dark;
    }
    &-item {
      display: inline-block;
      padding: .5rem;
      cursor: pointer;

      &:hover {
        background-color: $color-grey-light;
      }
    }

  }
  &__icons-checkbox {
    visibility: hidden;
  }

  &__icons-checkbox:checked ~ &__nav-block {
   height: 8rem;
  }
}

